<%= turbo_stream.replace @line_item do%>
  <%= render @line_item, quote: @quote, line_item_date: @line_item_date %>
<% end %>

<%= render_turbo_stream_flash_messages %>

<%= turbo_stream.update dom_id(@quote, :total) do  %>
  <%= render "quotes/total", quote: @quote %>
<% end %>